<p id="notice"><%= notice %></p>

<h1>Styles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New style', new_style_path, class:"btn btn-primary") if current_user %>
